* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%
}
:root{
    --color-one: #ffffff; 
    --color-Two: #000000; 
}
a{
    text-decoration: none;
   /*  list-style: none;  */
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
body {
    width: 100%;
    height: 100vh;
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
}
.main-nav{
    margin-top: 1rem;
    list-style: none;
    padding-left: 0;
    background-color: #aaaaaa;
}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: var(--color-one);
    padding: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

    /* //Pseudo-clases */
.main-nav__item a:hover {
    color: var(--color-Two);
}
/* .main-nav__item a:active {
    text-transform: lowercase; 
} */

   /* //Pseudo-elementos */
   .main-nav__item a::after {
       content: " | ";
   }
   .main-nav__item a::before {
      content: ":";
   }

   /* // One*/
  /*  .demo p{
       font-size: 3.2rem;
   }
   .demo p::before {
       content: "This is before";
       margin-right: 1rem;
       font-weight: bold;
       text-transform: uppercase;
   }
   .demo p::after {
       content: "I am the after...";
       margin-left: 1rem;
       text-transform: lowercase;
   }
   .demo p:hover::before, 
   .demo p:hover::after {
       color: red;
   } */

   /* //TWO */
   .demo-link {
       font-size: 2.5rem;
       text-decoration: none;
       color: red;
       display: inline-block;
       font-weight: bold;
       -webkit-font-smoothing: antialiased;
       cursor: pointer;
       position: relative;
   }
   /* .demo-link::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
    margin-right: 1rem;
    color: rgb(61, 156, 245);
   }
   .demo-link::after {
    font-family: "Font Awesome 5 Brands"; content: "\f167";
    margin-left: 1rem;
   } */

   .demo-link::before {
   content: "";
   width: 100%;
   height: .2rem;
   background-color: red;
   position: absolute;
   top: 0;
   left: 0;
   transform: scale(0);
   transition: transform .5s;
   }

   .demo-link::after {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform .5s;
   }

   .demo-link:hover::before,
   .demo-link:hover::after {
       transform: scale(1);
   }