:root {
    --color-one: #ffffff; 
    --color-Two: #000000; 
    --font:1.6rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
 list-style: none;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-one);
  /*   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */
}

body {
    width: 100%;
    height: 100vh;
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
}
header nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: .2rem;
    height: 6vh;

}
header  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2;
    margin: 1rem;
}
ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-Two);
    cursor: pointer;
}
ul li a:hover {
 color: var(--color-one);
}
a i:hover {
    /* color: var(--color-one); */
    background-color: #ddddddd2;
    border-radius: 1rem;
    padding: .5rem;
}
/* 
footer {
    width: 100%;
    height: 10vh;
    background-color: #cac9c9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
} */


