:root {
    --color-one: #ffffff; 
    --color-Two: #000000; 
    --font:1.6rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
 list-style: none;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
header {
    width: 100%;
    height: 10vh;
    background-color: var(--color-one);
  /*   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */
}

body {
    width: 100%;
    height: 100vh;
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
}
header nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: .2rem;
    height: 6vh;

}
header  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2;
    margin: 1rem;
}
ul li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-Two);
    cursor: pointer;
}
ul li a:hover {
 color: #e7e7e7;
 border-bottom: .2rem solid #000000;
}
  /*   li a::before {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s;
   }
    li a::after {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: transform .5s;
   }
    li a:hover::before,
    li a:hover::after {
    transform: scale(1);
   }   */

    a i:hover {
    /* color: var(--color-one); */
    background-color: #ddddddd2;
    border-radius: 1rem;
    padding: .5rem;
}

ul li img {
    border-radius: 2rem;
}
/* //main  */
 main {
     height: 100vh;
     display: grid;
     grid-template-columns:  20% 1fr 20%;
     grid-template-rows: repeat(3, 1fr);
     gap: .5rem;
     margin-top: 15rem;
 }
 .main-logo {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;
 }
 .main-logo img {
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     object-fit: cover;
     width: 40rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
 }
 .search-icon i {
     margin-right: 1rem;
     font-size: 1.2rem;
 }
 .main-input {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
 }
 .main-input-container {
     margin: 0 auto;
     width: 52rem;
     margin-bottom: 4.5rem;
     margin-top: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10rem;
     border: .1rem solid #dfe1e5;
 }
 .main-input-container:hover {
     box-shadow: .2rem .2rem .2rem .2rem rgba(0, 0, 0, 0.3);
 }
 .main-input input {
     width: 45rem;
     height: 4rem;
     border-radius: 10rem;
     border: none;
     outline: none;
 }
 .micro-icon i {
     margin-left: .1rem;
     font-size: 1.2rem;

 }
 .main-buttons {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 4;

     display: flex;
    justify-content: center;
    align-items: center;
 }
.main-buttons button {
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  margin: 1rem;
  cursor: pointer;
}
.main-buttons button:hover {
    box-shadow: .2rem .2rem .2rem .1rem rgba(0, 0, 0, 0.2);
}
footer {
    width: 100%;
    height: 10vh;
    background-color: #cac9c9;
  /*   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; */
} 
footer p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
    padding: 1rem;
}


