:root{
    --color-one: #ffffff; 
    --color-Two: #000000; 
    --font:1.6rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%
}
a{
    text-decoration: none;
   /*  list-style: none;  */
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}
/* header {
    width: 100vw;
    height: 15vh;
    background-color: #000000;
} */
body {
    width: 100%;
    height: 100vh;
    font-family: museo-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #e0e0e0;
}
/* main {
    width: 100vw;
    height: 70vh;
    background-color: aqua;
}
footer {
    width: 100vw;
    height: 15vh;
    background-color: #000000;
} */
/* .Nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .parent {
display: inline-block;
border: .2rem black dotted;
}
.box {
    background-color: red;
    display: inline-block;
    width: 10rem;
    height: 10rem;
}
#two {
  background-color: blueviolet;
 
}
#three {
  background-color: chartreuse;
}
#four {
  background-color: cyan;
}  */
/* .nav {
    width: 100%;
    height: 15%;
    background-color: cadetblue;
}
.nav li {
    display: inline-block;
} */
/* .navs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: chartreuse;
    gap: .5rem;
    width: 100%;
    height: 4rem;
} */
/* .cont {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content img {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 10rem;
    max-width: 10rem;
}
.List {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.List li {
    font-size: 1rem;
    text-transform: uppercase;
} */