:root {
    --color-one: #ffffff; 
    --color-Two: #000000; 
    --font:1.6rem;
    --dark-clr: #23272A;
    --brand-clr: #7289DA;
    --off-white-clr: #f6f6f6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
