:root {
    --color-base:#fff;
    --color-dark:#000;
    --primary-clr:#049DD9;
    --secondary-clr: #03658C;
    --three-clr: #05DBF2;
    --btn-clr:  #F2C0A2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
body.dark nav{
    font-family: roboto,sans-serif;
    font-weight: 400;
    font-style: normal; 

    background: #222222;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
header{
    width: 100%;
    height: 40vh;
    background-color: var(--primary-clr);
    background-image: url(../assets/img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-position: center;
}
.main-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr) 8rem;
    gap: .5rem;
    height: 8vh;
}
.logo {
    grid-column-start: 1;
    grid-column-end:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    font-size: 1.5rem;
    color:var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a i {
    font-size: 3rem;
    margin-right: 1rem;
}

.main-input {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 auto;
    width: 20rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 5rem;
    border: .1rem solid var(--color-base);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-input input {
 border-radius: 3rem;
 border: none;
 outline: none;
 width: 15rem;
 height: 2rem;
}
.main-input input::placeholder {
    text-align: center;
}
.search-icon {
    margin-right: .5rem;
}
.micro-icon {
    margin-left: .5rem;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-item a {
    color: var(--color-base);
    font-size: 1rem;
    cursor: pointer;
}
.nav-item a:hover {
    color: var(--secondary-clr);
}
.nav-item a img {
    border-radius: 5rem;
}

.nav-buttonn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.header-text {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
}
.header-text h1 {
    margin: 0 auto;
    font-size: 5rem;
    color: var(--color-base);
    font-weight: bold;
}
.parr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parr p {
    font-size: 2rem;
    color: var(--color-base);
    margin-top: 1rem;
}

/* // */
.switch {
    background: #343D5B;
    border-radius: 10rem;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
}
.switch::after {
 content: "";
 display: block;
 width: 3rem;
 height: 3rem;
 position: absolute;
 background: #F1F1F1;
 top: 0;
 left: 0;
 right: unset;
 border-radius: 10rem;
transition: .3s ease all;
-webkit-transition: .3s ease all;
box-shadow: 0  0 .2rem .2rem rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
    background: orange;
    color: #000;
}
.switch.active::after {
    right: 0;
    left: unset;
}
.switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: var(--color-base);
}

/* main */
.main {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
    margin-top: 2rem;
}
.main-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}
.main-image img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.main-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text h1{
  color: var(--color-dark);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.text-parr {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-parr p {
    color: var(--color-dark);
    letter-spacing: .1rem;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
}
/* // */
.grid {
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
}

/* //footer */
footer {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-clr);
}